
package views

import "go-todo/internal/views/layout"
import "go-todo/internal/views/partials"
import "go-todo/internal/views/todo"
import "go-todo/internal/database"

templ Home(todos []database.Todo) {
	@layout.Main("GoTODO App") {
		// Nav
		@partials.Header()
		<div id="main-content">
			@todo_view.TodoView(todos)
		</div>
	}
}
